{% capture append = "oxidBlock_content" %}
    {% set template_title = "MY_COUPON_LIST"|translate %}
     <h1 class="page-header">{{ translate({ ident: "MY_COUPON_LIST" }) }}</h1>

{% if couponarray|length == 0 %}
    <p class="alert alert-danger">{{ translate({ ident: "COUPON_ERROR_DISPLAY_NOVALNET" }) }}</p>
{% else %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="text-nowrap">
            <tr>
                <th>OXID COUPON ID</th>
                <th>SHOP ID</th>
                <th>COUPON NAME</th>
                <th>COUPON DESCRIPTION</th>
                <th>DISCOUNT</th>
                <th>DISCOUNT TYPE</th>
                <th>BEGIN DATE</th>
                <th>END DATE</th>
                <th>MINIMUM ORDER AMOUNT</th>
                <th>COUPON CODE</th>
            </tr>
        </thead>
        <tbody>
            {% for row in couponarray %}
                <tr>
                    {% for value in row %}
                        <td class="text-nowrap">{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

    {{ insert_tracker({title: template_title}) }}
{% endcapture %}
{% capture append = "oxidBlock_sidebar" %}
       {% include "page/account/inc/account_menu.html.twig" with {active_link: "avaliablecoupons"} %}
{% endcapture %}
{% include "layout/page.html.twig" with {sidebar: "Left"} %}