{% extends 'page/account/inc/account_menu.html.twig' %}
{% block account_menu %}
{{ parent() }}
<li class="list-group-item{% if active_link == "avaliablecoupons" %} active{% endif %}">
  <a href="{{ seo_url({ ident: oViewConf.getSslSelfLink()|raw()|cat("cl=account_avaliablecoupons") }) }}" title="{{ translate({ ident: "COUPONSAVALIABLE" }) }}">{{ translate({ ident: "COUPONSAVALIABLE" }) }}</a>
</li>
{% endblock %}
